@use '../custom' as *;
.categoriesdiv{
@include media-breakpoint-down(lg){
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        margin: 1rem;
        padding: 0px 0px;
        font-size: 0.8rem;
    }
}
}